@charset "utf-8";

.sekigae-shell-shuffle-name-area {
  display: none;
  width: 200px;
  position: absolute;
  left: 10%;
  top: 0;
  background-color: rgba(40, 40, 40, 0.8);
  padding: 5px;
}

.sekigae-shell-shuffle-name-area li {
  border: solid 1px #ddd;
  padding: 5px;
  background-color: #fff;
}

.shuffle-start-btn {
  position: absolute;
  top: 100px;
  right: -200px;
}

.shuffle-stop-btn {
  position: absolute;
  top: 140px;
  right: -200px;
}
